.aboutme {
  &__intro {
    grid-column: full-start / col-end 4;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }

    background-image:
      linear-gradient(rgba($color-primary, .7), rgba($color-grey-light-1, 1)),
      url(../img/about-me-bg.jpg);
    padding: 4.5rem 10rem;

    &__text {
      font-size: $default-font-size;
      color: $color-secondary;
    }
  }

  &__contact-info {
    grid-column: col-start 5 / full-end;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }

    // background-color: darken($color-grey-light-1, 5%);
    background-image: 
      linear-gradient(to right,rgba($color-grey-light-1, .8), rgba($color-grey-light-2, .2)),
      url(../img/contact-info-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5rem 10rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__section {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-gap: 2rem;
      align-items: center;
    }

    &__icon {
      width: 4rem;
      height: 4rem;
    }

    &__url {
      font-size: 3rem;
      font-family: $font-display;
      font-weight: 700;
      text-decoration: none;
      color: $color-blue-medium;

      background: linear-gradient(to bottom, $color-blue-medium 0%, $color-blue-medium 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: .3rem .3rem;

      transition: all .2s;

      @media only screen and (max-width: $bp-large) {
        font-size: 2.5rem;
      }

      &:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2309079c' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-position: 0 100%;
        background-size: auto .6rem;
        background-repeat: repeat-x;
        text-decoration: none;
        transform: translateY(-1rem);
      }
    }
  }
}