// COLOR VARIABLES
$color-primary: #f6fcdc;
$color-primary-dark: #B28451;
$color-secondary: #101d2c;
$color-tertiary: #23232e;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-blue-medium: #06499c;
$color-blue-dark: #09079c;
$color-pink-dark: #b532ab;
$color-pink-light:#fac8f5;
// NATOURS
$natours-color-primary: #55c57a;
$natours-color-primary-light: #7ed56f;
$natours-color-primary-dark: #28b485;
// NEXTER
$nexter-color-primary: #c69963;
$nexter-color-primary-dark: #B28451;
// Trillio
$trillio-color-primary:#eb2f64;
$trillio-color-primary-light: #FF3366;
$trillio-color-primary-dark: #BA265D;
// Sirvey
$sirvey-color-primary: #ee6e73;
// DatingApp
$datingapp-color-primary: #e95420;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;

// BOX SHADOW STYLES
$box-shadow-small: .5rem 1rem 2rem rgba(#000, .2);
$box-shadow-medium: 0 1.5rem 4rem rgba(#000, .15);

// Break Points for media queries
$bp-largest: 100em; // 1600 / 16 (default font size)
$bp-large: 75em; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 45%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-primary;

  // Customize scrollbar
  &::-webkit-scrollbar {
    width: .75rem;
  }

  &::-webkit-scrollbar-track {
    background: lighten($color-secondary, 25%);
  }

  &::-webkit-scrollbar-thumb {
    background: $color-secondary;
  }
}

.container {
  display: grid;
  // auto ==  min-content
  grid-template-rows: 80vh min-content min-content repeat(2, min-content);
  grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 80vh min-content min-content repeat(2, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: calc(65vh) min-content min-content min-content repeat(2, min-content);
  }

  @media only screen and (max-width: $bp-large) {
    // Margin-bottom to create space for navbar
    margin-bottom: 9rem;
  }
}

// Cursor effect for typewriter
.txt-type {
  font-style: italic;
  display: inline-block;

  .txt {
    border-right: .2rem solid #777;
  }
}
