.top-3-projects {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
}

.all-projects {
  margin-bottom: 5rem;

  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: 1fr;

  &__heading {
    justify-self: center;
    margin-bottom: 5rem;
    font-size: 5.5rem;
    font-family: $font-display;
    font-weight: 700;
    color: $color-grey-dark-2;
    text-transform: uppercase;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); // The card width is 35rem
  grid-gap: 5rem 3rem;
  justify-items: center;
}