.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    width: 32rem;

    @media only screen and (hover:none) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 64rem;
    }

    &__side {
        position: absolute;
        top : 0;
        left: 0;
        width: 100%;
        height: 45rem;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: .3rem;
        //Preventing the card images from overlapping and hide the border radius
        overflow: hidden;
        box-shadow: $box-shadow-medium;

        &--front {
            background-color: #fff;

            &-more {
              font-size: 2.5rem;
              font-family: $font-display;
              font-weight: 700;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto auto;
              justify-content: center;
              align-content: center;
              color: $color-pink-dark;
              box-sizing: border-box;
              align-items: center;
              justify-items: center;
            }
        }

        &--back {
            
            transform: rotateY(180deg);
            animation-fill-mode: backwards;

            &-natour {
              background-image: linear-gradient(to right bottom, #000, $natours-color-primary-dark);
            }

            &-nexter {
              background-image: linear-gradient(to right bottom, #000, darken($nexter-color-primary-dark, 17%));
            }

            &-trillio {
              background-image: linear-gradient(to right bottom, #000, $trillio-color-primary-dark);
            }

            &-sirvey {
              background-image: linear-gradient(to right bottom, #000, darken($sirvey-color-primary, 10%));
            }

            &-datingapp {
              background-image: linear-gradient(to right bottom, #000, darken($datingapp-color-primary, 10%));
            }

            &-more {
              font-size: 2.3rem;
              font-weight: 700;
              font-style: italic;
              display: flex;
              align-items: center;
              text-align: center;
              color: $color-grey-dark-1;
            }
        }
    }


    &:hover &__side--front {
        transform: rotateY(-180deg);
    }


    &:hover &__side--back {
        transform: rotateY(0deg);
    }


    // FRONT SIDE  STYLING
    &__picture {
        background-size: cover;
        height: 15rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &--natour {
            background-image: 
                linear-gradient(to right bottom, #000, $natours-color-primary-dark),
                url(../img/natour.webp);
        }

        &--nexter {
            background-image: 
                linear-gradient(to right bottom, $color-secondary, $nexter-color-primary-dark),
                url(../img/nexter-min.webp);
        }

        &--trillio {
            background-image: 
                linear-gradient(to right bottom, #000, $trillio-color-primary-dark),
                url(../img/trillio-min.webp);
        }

        &--sirvey {
            background-image: 
                linear-gradient(to right bottom, #000, darken($sirvey-color-primary, 10%)),
                url(../img/survey.webp);
        }

        &--datingapp {
            background-image: 
                linear-gradient(to right bottom, #000, darken($datingapp-color-primary, 10%)),
                url(../img/dating-app-crop.webp);
        }
    }


    &__heading {
        font-size: 2.4rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 6rem;
        right: 2rem;
        width: 75%;
    }


    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--natour {
            background-image: linear-gradient(to right bottom, 
                rgba($natours-color-primary-light, .85), 
                rgba($natours-color-primary-dark, .85));
        }

        &--nexter {
            background-image: linear-gradient(to right bottom, 
                rgba($nexter-color-primary-dark, .85), 
                rgba(darken($nexter-color-primary-dark, 10%), .85));
        }

        &--trillio {
            background-image: linear-gradient(to right bottom, 
                rgba($trillio-color-primary, .85), 
                rgba($nexter-color-primary-dark, .85));
        }

        &--sirvey {
            background-image: linear-gradient(to right bottom, 
                rgba($sirvey-color-primary, .85), 
                rgba(darken($sirvey-color-primary, 10%), .85));
        }

        &--datingapp {
            background-image: linear-gradient(to right bottom, 
                rgba($datingapp-color-primary, .85), 
                rgba(darken($datingapp-color-primary, 10%), .85));
        }
    }


    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            padding: 0;
            width:80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: $default-font-size;
                font-family: $font-display;
                font-weight: 700;
                color: $color-grey-dark-1;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: .1rem solid $color-grey-light-2;
                }
            }
        }
    }


    //BACK SIDE STYLING
    &__cta {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }


    &__cta-detail {
        color: #fff;
        margin-bottom: 2rem;
    }


    &__cta-desc {
        font-size: $default-font-size;
        text-transform: uppercase;
    }


    &__cta-link {
        font-size: 3rem;
        font-weight: 700;
        font-family: $font-display;
        text-decoration: none;
        display: block; // just so that we can transform
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: all .2s;

        &:hover {
          transform: skewY(1deg) skewX(10deg) scale(1.1);
          text-shadow: $box-shadow-small;
        }
       

        &-natour {
          background-image: linear-gradient(to right, $natours-color-primary-dark, $natours-color-primary-light);
        }

        &-nexter {
          background-image: linear-gradient(to right, $nexter-color-primary-dark, lighten($nexter-color-primary, 5%));
        }

        &-trillio {
          background-image: linear-gradient(to right, $trillio-color-primary-light, $trillio-color-primary-dark);
        }

        &-sirvey {
          background-image: linear-gradient(to right, lighten($sirvey-color-primary, 10%), darken($sirvey-color-primary, 10%));
        }

        &-datingapp {
          background-image: linear-gradient(to right, lighten($datingapp-color-primary, 10%), darken($datingapp-color-primary, 10%));
        }
    }

    @media only screen and (max-width: $bp-medium),
    only screen and (hover:none) {
        height: auto;
        border-radius: .3rem;
        background-color: #fff;
        box-shadow: $box-shadow-medium;

        &__side {
            position: relative;
            height: auto;
            //Preventing the card images from overlapping and hide the border radius
            overflow: hidden;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
            }
        }


        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        
        //BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem;
        }


        &__cta-detail {
            margin-bottom: 3rem;
        }

        &__cta-link {
            margin-top: 1rem;
            font-size: 3rem;
        }
    }

    .github-link {
      position: relative;

      i {
        font-size: 8rem;
        color: $color-secondary;
        transition: all 200ms ease;

        &:hover {
          transform: translateY(-1rem);
          color: lighten($color-secondary, 10%);
        }
      }
    }

}