.tooltip {
  position: relative;

  &:hover .tooltiptext {
    visibility: visible;
  } 
}

.tooltiptext {
  visibility: hidden;
  font-size: $default-font-size;
  width: 12rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: .6rem;
  padding: .5rem 0;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -6rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -.5rem;
    border-width: .5rem;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}